﻿
@model ReiseBuro.Entities.Models.Language

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <h2>
        Dil Parametresi Oluştur
    </h2>
</div>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row clearfix">
                        <div class="col-md-4">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Culture, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Culture, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Culture, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="OLUŞTUR" class="btn bg-deep-orange" />
                                    @Html.ActionLink("Listeye Geri Dön", "Index", new { }, new { @class = "btn bg-teal" })
                                </div>
                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>