﻿@model IEnumerable<ReiseBuro.Entities.Models.Language>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var countries = (IEnumerable<ReiseBuro.Entities.Models.Language>)ViewBag.Countries;
}

<div class="block-header">
    <h2>
        Diller
    </h2>
    <h4 class="error-message">@TempData["error"]</h4>
</div>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DisplayName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Culture)
                            </th>
                          
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DisplayName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Culture)
                                </td>
                              
                                <td>
                                    @Html.ActionLink("DÜZENLE", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-teal" }) |

                                    @Html.ActionLink("SİL", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-deep-orange" })
                                </td>
                            </tr>
                        }

                    </table>

                </div>
                <div class="form-actions">
                    <a href="@Url.Action("Create","Languages")" class="btn bg-teal">Yeni Dil Parametresi Oluştur</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>

}