﻿@model ReiseBuro.Entities.Models.Reservation
@using ReiseBuro.Web.Resources

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currencyId = ViewBag.currencyId;
    var currencyName = ViewBag.currencyName;

    var lang = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}

<input type="hidden" id="culture" value="@lang" />
<div class="block-header">
    <h2>@Resource.rezolustur</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <h4 class="error-message">@TempData["error"]</h4>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row clearfix">

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.VoucherNo, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.VoucherNo, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.VoucherNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CheckIn, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.CheckIn, new { htmlAttributes = new { @class = "datepicker form-control" } })

                                    @Html.ValidationMessageFor(model => model.CheckIn, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CheckOut, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.CheckOut, new { htmlAttributes = new { @class = "datepicker form-control" } })

                                    @Html.ValidationMessageFor(model => model.CheckOut, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
                                <span>@ReiseBuro.Entities.Resources.Resource.isimRuscaAciklama</span>
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "form-label" })
                                <span>@ReiseBuro.Entities.Resources.Resource.soyisimRuscaAciklama</span>
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })

                                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group form-float">
                                @Html.Label(Resource.dogumTarihGunAyYil, htmlAttributes: new { @class = "form-label" })
                                <span>@Resource.dogumTarihGAY</span>
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Agenta, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Agenta, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Agenta, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.GuestNote, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.GuestNote, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GuestNote, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Person, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.TextBoxFor(model => model.Person, new { @class = "form-control" })                                  
                                    @Html.ValidationMessageFor(model => model.Person, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value=@currencyId name="CurrencyId" />

                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="@Resource.rezkaydet" class="btn bg-teal btn-lg waves-effect" />
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>


@section Styles{

}

@section Scripts{
      <!-- Autosize Plugin Js -->
<script src="~/assets/plugins/autosize/autosize.js"></script>
<script src="~/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <script>
        var lang = $('#culture').val();

        if (lang == 'tr') {
            $('#CheckIn').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'tr', lang: 'tr', language: 'tr', cancelText: 'İptal', clearButton: true, minDate: new Date() });
            $('#CheckOut').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'tr', lang: 'tr', language: 'tr', cancelText: 'İptal', clearButton: true, minDate: new Date() });
        }
        else if (lang == 'de') {
            $('#CheckIn').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'de', lang: 'de', language: 'de', cancelText: 'İptal', clearButton: true, minDate: new Date() });
            $('#CheckOut').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'de', lang: 'de', language: 'de', cancelText: 'İptal', clearButton: true, minDate: new Date() });
        }

        else {

            $('#CheckIn').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'en', lang: 'en', language: 'en', cancelText: 'İptal', clearButton: true, minDate: new Date() });
            $('#CheckOut').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'en', lang: 'en', language: 'en', cancelText: 'İptal', clearButton: true, minDate: new Date() });
        }
      
        $('#Birthday').inputmask('dd.mm.yyyy', { placeholder: '__/__/____' });
        $(document).ready(function () {


            $('#CheckIn').change(function (e) {          
                $('#CheckOut').bootstrapMaterialDatePicker('setMinDate', $('#CheckIn').val());
            });

            $('#CheckOut').change(function (e) {
                $('#CheckIn').bootstrapMaterialDatePicker('setMaxDate', $('#CheckOut').val());
            });
        
        });
   
      
    </script>

}
