﻿@model ReiseBuro.Entities.Models.Reservation
@using ReiseBuro.Web.Resources
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var currency = ViewBag.currency;
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <h4>@Resource.eminmisin @*&nbsp;@Resource.sil : @Model.VoucherNo*@ </h4>
                <hr />
                <dl class="dl-horizontal">
                   
                    <dt>
                        @Html.DisplayNameFor(model => model.BookingDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BookingDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CheckIn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CheckIn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CheckOut)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CheckOut)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Surname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Surname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Birthday)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Birthday)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Agenta)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Agenta)
                    </dd>   

                  

                    <dt>
                        @Html.DisplayNameFor(model => model.GuestNote)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GuestNote)
                    </dd>

                    <dt>
                        <span>@Resource.bonusTutarRezDetay</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Amount)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CurrencyId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => currency)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Person)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Person)
                    </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <a class="btn bg-teal" href="@Url.Action("Index","Reservations")">
                          @Resource.rezervasyonlar
                        </a>
                        <button type="submit" class="btn bg-deep-orange">
                          @Resource.sil
                        </button>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>
                  
                
