﻿@model ReiseBuro.Web.Models.ImageViewModel
@using ReiseBuro.Web.Resources

@{
    ViewBag.Title = "AddPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentLangList = ReiseBuro.Web.Helper.SelectListItemHelper.CultureKeyValue();
}

<div class="block-header">
    <h2>
        Kullanıcı Kılavuz Resimleri Ekleyin
    </h2>
</div>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <h4 class="error-message">@ViewBag.message  </h4>
                <form action="@Url.Action("AddPhoto","Home")" method="post" enctype="multipart/form-data">
                    <div class="form-group form-float">
                        <label class="form-label">Açıklama</label>
                        <div class="form-line">
                            <input type="text" name="Description" id="Description" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <label class="form-label">Dil</label>
                        <div class="form-line">

                            @Html.DropDownListFor(model => model.Culture, new SelectList(currentLangList, "Value", "Text"), Resource.seciniz, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div id="div_img" style="display:none;"> <img id="info_img" height="200" width="300" /> </div>
                    <div class="form-group form-float">
                        <label class="form-label">Resim</label>
                        <div class="form-line">
                            <input type="file" name="ImageData" accept="image/*" onchange="show(this)">
                        </div>
                    </div>

                    <div class="form-group form-float">
                        <label class="form-label">Resim Sırası</label>
                        <div class="form-line">
                            <input type="number" name="ImageOrder" class="form-control">
                        </div>
                    </div>

                    <input type="submit" class="btn bg-deep-orange" value="Kaydet" />
                    <a class="btn bg-grey" href="@Url.Action("Info","Home")">Kılavuz Sayfasına Git</a>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/assets/plugins/node-waves/waves.js"></script>
    <!-- Light Gallery Plugin Js -->
    <script src="~/assets/plugins/light-gallery/js/lightgallery-all.js"></script>
    <!-- Custom Js -->
    <script src="~/assets/js/pages/medias/image-gallery.js"></script>


    <script>
        function show(input) {
            $('#div_img').css('display', 'block');
            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#info_img').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }
    </script>
}




