﻿@using ReiseBuro.Web.Resources

@{
    ViewBag.Title = "Contact";
    ReiseBuro.Entities.Models.User user = null;
    if (TempData["user"] != null)
    {
        user = (ReiseBuro.Entities.Models.User)TempData["user"];
    }

    var Info = (ReiseBuro.Entities.Models.Param_Mail)ViewBag.Mail;
}


<div class="block-header">
    @if (user == null)
    {
        <h2>@Resource.iletisimHeader</h2>
    }
</div>

<!-- Textarea -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                @if (user == null)
                {
                    <h2>@Resource.iletisimCaption</h2>
                }
            </div>

            <div class="body">
                <form action="@Url.Action("Contact","Home")" method="post">
                    <h2 class="card-inside-title">
                        @Resource.konu :
                    </h2>
                    <div class="form-group">
                        <div class="form-line">
                            <textarea name="Subject" rows="1" class="form-control" placeholder=""></textarea>
                        </div>
                    </div>
                    <h2 class="card-inside-title">
                        @Resource.icerik :
                    </h2>
                    <div class="form-group">
                        <div class="form-line">
                            <textarea name="Content" rows="1" class="form-control no-resize auto-growth" placeholder=""></textarea>
                        </div>
                    </div>

                    @if (user != null)
                    {
                        <h2 class="card-inside-title">
                            @Resource.emailadres :
                        </h2>
                        <div class="form-group">
                            <div class="form-line">
                                <textarea name="MailAddress" rows="1" class="form-control" readonly="readonly">@user.Email</textarea>
                            </div>
                        </div>
                    }

                    <button type="submit" class="btn bg-teal">@Resource.gonder</button>
                </form>

                <h4 class="error-message">@TempData["message"]</h4>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="row clearfix">
                    <div class="col-md-8">
                        <div class="col-md-2 col-sm-12">
                            <img src="data:image/png;base64, @Info.ContactPhoto" alt="Image" id="adminpic" />
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <h4>@Info.MailCaption </h4>
                            <h5>@Info.MailContent</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Textarea -->


@section Scripts{
    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>


}

@section Styles{
    <style>
        #adminpic {
            /*width:100px;
            height:100px;*/
        }
    </style>
}