﻿@model ReiseBuro.Web.Models.ImageViewModel
@{
    ViewBag.Title = "EditPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="block-header">
    <h2>Mail Düzenle</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                @using (Html.BeginForm("EditPhoto", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {

                    <div class="row clearfix">
                        
                        <div class="form-group form-float">
                            <label class="form-label">Açıklama</label>
                            <div class="form-line">
                                <input type="text" name="Description" id="Description" class="form-control" value="@Model.Description" />
                            </div>
                        </div>

                        <div class="form-group form-float">
                            <label class="form-label">Dil</label>
                            <div class="form-line">

                                @Html.DropDownListFor(model => model.Culture, new SelectList(ViewBag.lang, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div id="div_img" style="display:block;"> <img id="info_img" height="200" width="300" src="@Model.ImagePath" /> </div>
                        <div class="form-group form-float">
                            <label class="form-label">Resim</label>
                            <div class="form-line">
                                <input type="file" name="ImageData" accept="image/*" onchange="show(this)">
                            </div>
                        </div>

                        <div class="form-group form-float">
                            <label class="form-label">Resim Sırası</label>
                            <div class="form-line">
                                <input type="number" name="ImageOrder" class="form-control" value="@Model.ImageOrder">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="@Model.ImagePath" name="ImagePath" />
                    <input type="hidden" value="@Model.Id" name="Id" />
                    <input type="hidden" value="@Model.Caption" name="Caption" />
                    <input type="submit" value="Kaydet" class="btn bg-teal" />
                    <a href="@Url.Action("Home","Info")" class="btn bg-deep-orange">Vazgeç</a>
                }
            </div>
        </div>
    </div>
</div>

