﻿@model IEnumerable<ReiseBuro.Entities.Models.Image>

@{
    ViewBag.Title = "Images";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var trImages = Model.Where(t => t.Culture == "tr").ToList();
    var enImages = Model.Where(e => e.Culture == "en").ToList();
    var deImages = Model.Where(d => d.Culture == "de").ToList();
    var ruImages = Model.Where(r => r.Culture == "ru").ToList();

    var languages = (IEnumerable<ReiseBuro.Entities.Models.Language>)ViewBag.languages;
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}


@section Styles{

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Waves Effect Css -->
    <link href="~/assets/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/assets/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Light Gallery Plugin Css -->
    <link href="~/assets/plugins/light-gallery/css/lightgallery.css" rel="stylesheet">
}

<!-- Image Gallery -->
<div class="block-header">
    <h2>
        Information
    </h2>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


      
            <div class="card">
                <div class="header">
                    <h2>
                        @languages.FirstOrDefault(f => f.Culture == "en").DisplayName
                    </h2>
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                        @foreach (var item in enImages)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <a href="@item.ImagePath" data-sub-html="@item.ImageDescription">
                                    <img class="img-responsive thumbnail" src="@item.ImagePath" style="height:220px;width:340px;">
                                </a>
                                <button onclick="editFunction(@item.Id)" class="btn-sm bg-teal">Düzenle</button>
                                <button onclick="@Url.Action("DeleteImage","Home", new { id = item.Id })" class="btn-sm bg-deep-orange">Sil</button>
                            </div>
                           
                        }

                    </div>
                </div>
            </div>
       

            <div class="card">
                <div class="header">
                    <h2>
                        @languages.FirstOrDefault(f => f.Culture == "de").DisplayName
                    </h2>
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials2" class="list-unstyled row clearfix">
                        @foreach (var item in deImages)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <a href="@item.ImagePath" data-sub-html="@item.ImageDescription">
                                    <img class="img-responsive thumbnail" src="@item.ImagePath" style="height:220px;width:340px;">
                                </a>
                                <button onclick="editFunction(@item.Id)" class="btn-sm bg-teal">Düzenle</button>
                                <button onclick="deleteFunction(@item.Id)" class="btn-sm bg-deep-orange">Sil</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
      
            <div class="card">
                <div class="header">
                    <h2>
                        @languages.FirstOrDefault(f => f.Culture == "ru").DisplayName
                    </h2>
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials3" class="list-unstyled row clearfix">
                        @foreach (var item in ruImages)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <a href="@item.ImagePath" data-sub-html="@item.ImageDescription">
                                    <img class="img-responsive thumbnail" src="@item.ImagePath" style="height:220px;width:340px;">
                                </a>
                                <a href="editFunction(@item.Id)" class="btn-sm bg-teal">Düzenle</a>
                                <a href="deleteFunction(@item.Id)" class="btn-sm bg-deep-orange">Sil</a> 
                            </div>
                        }
                    </div>
                </div>
            </div>
         <div class="card">
                <div class="header">
                    <h2>
                        @languages.FirstOrDefault(f => f.Culture == "tr").DisplayName
                    </h2>
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials4" class="list-unstyled row clearfix">
                        @foreach (var item in trImages)
                        {
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <a href="@item.ImagePath" data-sub-html="@item.ImageDescription">
                                    <img class="img-responsive thumbnail" src="@item.ImagePath" style="height:220px;width:340px;">
                                </a>
                                <a href="@Url.Action("EditImage","Home", new { id = item.Id })" class="btn-sm bg-teal">Düzenle</a>
                                <a href="@Url.Action("DeleteImage","Home", new { id = item.Id })" class="btn-sm bg-deep-orange">Sil</a> 
                            </div>
                        }
                    </div>
                </div>
            </div>
        

    </div>
</div>


@section Scripts{
    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/assets/plugins/node-waves/waves.js"></script>
    <!-- Light Gallery Plugin Js -->
    <script src="~/assets/plugins/light-gallery/js/lightgallery-all.js"></script>
    <!-- Custom Js -->
    <script src="~/assets/js/pages/medias/image-gallery.js"></script>
   


    <script>
        function editFunction(id) {
            
            var url = "/Home/EditPhoto?id=" + id;
            this.location = url;

        }

        function deleteFunction(id) {
            var url = "/Home/DeletePhoto?id=" + id;
            this.location = url;
        }

    </script>
}



