﻿@model ReiseBuro.Entities.Models.User
@using ReiseBuro.Web.Resources
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <h2>@Resource.profiliduzenle</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row clearfix">
                        @Html.HiddenFor(model => model.Id)

                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                               <label for="DisplaAktif" class="form-label">Aktif mi</label>
                                <div class="form-inline">
                                  @if (Model.IsActive)
                                  {
                                      <p name="DisplaAktif">@Resource.evet</p>
                                  }
                                  else
                                  {
                                      <p name="DisplaAktif">@Resource.hayir</p>
                                  }
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.PersonInCharge, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.PersonInCharge, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PersonInCharge, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.UserAddress, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.UserAddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.CountryCode,new SelectList(ViewBag.Countries,"Value","Text"), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.RegistryDate, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.RegistryDate, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                                    @Html.ValidationMessageFor(model => model.RegistryDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.ConfirmDate, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.ConfirmDate, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Gsm, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Gsm, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Gsm, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                  
                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-4">
                               
                                <a class="btn bg-teal" href="@Url.Action("Index","Reservations")">
                                    <i class="material-icons">home</i>
                                    <span>@Resource.anasayfa</span>
                                </a>
                                <button type="submit" class="btn bg-deep-orange">
                                    <i class="material-icons">save</i>
                                    <span>@Resource.kaydet</span>
                                </button>
                            </div>
                        </div>
                    </div>
                }

              @if(TempData["message"]!=null)
              {
                  <p class="alert-info">@TempData["message"] </p>
              }

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/assets/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script>
        $(function () {
        })
    </script>

}
