﻿@model ReiseBuro.Web.Models.RegisterViewModel
@using ReiseBuro.Web.Resources
@{
    Layout = null;
    var culture = ReiseBuro.Web.Helper.SelectListItemHelper.CultureKeyValue();
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@Resource.kaydol</title>
    <!-- Favicon-->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/assets/plugins/node-waves/waves.min.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/assets/plugins/animate-css/animate.min.css" rel="stylesheet" />
    <!-- Wait Me Css -->
    <link href="~/assets/plugins/waitme/waitMe.css" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/assets/css/style.min.css" rel="stylesheet">

    <style>
        .signup-page {
            margin: 1% auto !important;
            background-color: #84dce7 !important;
        }
    </style>
</head>
<body class="signup-page">
    <input type="hidden" id="CurrentLanguage" name="CurrentLanguage" value="@currentCulture" />

    <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);">Reise<b>Buro</b></a>
            <small>@Resource.kaydol</small>
        </div>
        <div class="card">
            <div class="body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="msg">@Resource.yenihesapolustur</div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">language</i>
                        </span>
                        <div class="form-line">
                            @Html.DropDownList("SelectLanguage", new SelectList(culture, "Value", "Text"), new { @class = "form-control language-dropdown" })

                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeHolder = ReiseBuro.Entities.Resources.Resource.isim2} })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control", placeHolder = ReiseBuro.Entities.Resources.Resource.soyisim2 } })
                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeHolder = ReiseBuro.Entities.Resources.Resource.email } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeHolder = ReiseBuro.Entities.Resources.Resource.emailtekrar } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeHolder = ReiseBuro.Entities.Resources.Resource.parola } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeHolder = ReiseBuro.Entities.Resources.Resource.parolatekrar } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword,"", new { @class = "text-danger" })
                        </div>
                    </div>
                  
                    @*<div class="input-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.PersonInCharge, new { htmlAttributes = new { @class = "form-control", placeHolder = "Yetkili Kişi" } })
                            @Html.ValidationMessageFor(model => model.PersonInCharge, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                    <div class="input-group">
                        <div class="form-line">
                            @Html.DropDownListFor(model => model.CountryCode, new SelectList(ViewBag.countries, "Value", "Text"), new { @class = "form-control", placeHolder = ReiseBuro.Entities.Resources.Resource.ulke })
                            @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="form-line">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeHolder = ReiseBuro.Entities.Resources.Resource.sehir } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                    </div>
                        @*<div class="input-group">
                            <div class="form-line">
                                @Html.EditorFor(model => model.UserAddress, new { htmlAttributes = new { @class = "form-control", placeHolder = "Adres" } })
                                @Html.ValidationMessageFor(model => model.UserAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        <div class="input-group">
                            <div class="form-line">
                                @Html.EditorFor(model => model.Gsm, new { htmlAttributes = new { @class = "form-control", placeHolder = ReiseBuro.Entities.Resources.Resource.telefon } })
                                @Html.ValidationMessageFor(model => model.Gsm, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="input-group">
                            <div class="form-line">
                                @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control", placeHolder = "İş Telefonu" } })
                                @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                            </div>
                        </div>*@


                        <p class="text-danger">@TempData["message"]</p>
                            <p class="text-danger">@TempData["error"]</p>

                            <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">@Resource.kaydol</button>

                            <div class="m-t-25 m-b--5 align-center">
                                <a href="@Url.Action("Login","Account")">@Resource.hesabınızvarsa</a>
                            </div>
                }
            </div>
        </div>
    </div>
    <!-- Jquery Core Js -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/assets/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/assets/plugins/node-waves/waves.js"></script>
    <!-- Validation Plugin Js -->
    <script src="~/assets/plugins/jquery-validation/jquery.validate.js"></script>
    <!-- Custom Js -->
    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/assets/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script>
    
    </script>

    <script src="~/assets/js/admin.js"></script>
    <script src="~/assets/js/pages/examples/sign-up.js"></script>
    <script>
        $('#SelectLanguage').val($('#CurrentLanguage').val());

        $(document).ready(function () {

            $('.language-dropdown').on('change', function () {
                var data = this.selectedOptions[0].value;
                $.post("/Home/SelectLanguage", { data: data })
                          .done(function () {
                              location.reload();
                              //$('.language-dropdown select').val(data);
                          })
                    .fail(function () {
                        alert("error");
                    });
            });
        });
    </script>
</body>
</html>
