﻿@model ReiseBuro.Entities.Models.Campaign
@using ReiseBuro.Web.Resources
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var lang = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}
<input type="hidden" id="culture" value="@lang" />
<div class="block-header">
    <h2>
        @Resource.kampanyaolustur
    </h2>
</div>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

            <div class="body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IsActive)
                    @*@Html.HiddenFor(model => model.CountryCode)*@
                    <div class="row clearfix">
                        <div class="col-md-4">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CampaignCode, htmlAttributes: new { @class = "form-label" }) (Yıl/Kampanya Numarası)
                                <div class="form-line">
                                    @Html.EditorFor(model => model.CampaignCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CampaignCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <input type="checkbox" class="filled-in" id="DisplayIsActive" name="DisplayIsActive" />
                                <label for="DisplayIsActive"><b>@Resource.aktifmi</b></label>
                                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group form-float">    
                                @Html.LabelFor(model => model.BookingBegin, htmlAttributes: new { @class = "form-label" })                        
                                <div class="form-line">
                                    @Html.EditorFor(model => model.BookingBegin, new { htmlAttributes = new { @class = "datepicker form-control" } })
                                    @Html.ValidationMessageFor(model => model.BookingBegin, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.BookingEnd, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.BookingEnd, new { htmlAttributes = new { @class = "datepicker form-control" } })
                                    @Html.ValidationMessageFor(model => model.BookingEnd, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CheckIn, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.CheckIn, new { htmlAttributes = new { @class = "datepicker form-control" } })
                                    @Html.ValidationMessageFor(model => model.CheckIn, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CheckOut, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.CheckOut, new { htmlAttributes = new { @class = "datepicker form-control" } })
                                    @Html.ValidationMessageFor(model => model.CheckOut, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.DropDownListFor(model=>model.CountryCode, new SelectList(ViewBag.Countries, "Value", "Text"), "Ülke Seçiniz", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Bonus, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Bonus, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Bonus, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.MinNight, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.MinNight, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MinNight, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    <a class="btn bg-deep-purple" href="@Url.Action("Index","Campaigns")">@Resource.kampanyalar</a>
                                    <input type="submit" value="@Resource.kaydet" class="btn bg-teal" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div>

                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>
   <script src="~/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>

    <script>
        $('#CampaignCode').inputmask('9999/99', { placeholder: '____/__' });
        var lang = $('#culture').val();

        if (lang == 'tr') {
            $('#CheckIn').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'tr', lang: 'tr', language: 'tr', cancelText: 'İptal', clearButton:true});
            $('#CheckOut').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'tr', lang: 'tr', language: 'tr', cancelText: 'İptal', clearButton: true });
            $('#BookingBegin').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'tr', lang: 'tr', language: 'tr', cancelText: 'İptal', clearButton: true });
            $('#BookingEnd').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'tr', lang: 'tr', language: 'tr', cancelText: 'İptal', clearButton: true });
        }
        else if (lang == 'de') {
            $('#CheckIn').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'de', lang: 'de', language: 'de', cancelText: 'İptal', clearButton: true });
            $('#CheckOut').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'de', lang: 'de', language: 'de', cancelText: 'İptal', clearButton: true });
            $('#BookingBegin').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'de', lang: 'de', language: 'de', cancelText: 'İptal', clearButton: true });
            $('#BookingEnd').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'de', lang: 'de', language: 'de', cancelText: 'İptal', clearButton: true });
        }

        else {

            $('#CheckIn').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'en', lang: 'en', language: 'en', cancelText: 'İptal', clearButton: true });
            $('#CheckOut').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'en', lang: 'en', language: 'en', cancelText: 'İptal', clearButton: true });
            $('#BookingBegin').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'en', lang: 'en', language: 'en', cancelText: 'İptal', clearButton: true });
            $('#BookingEnd').bootstrapMaterialDatePicker({ time: false, format: 'DD.MM.YYYY', locale: 'en', lang: 'en', language: 'en', cancelText: 'İptal', clearButton: true });
        }


        $('#DisplayIsActive').change(function () {
            var confirm = $('#DisplayIsActive').prop('checked');
            $('#IsActive').val(confirm);
        });

        //$('#DisplayCountryCode').change(function () {

        //    var code = $('#DisplayCountryCode').val();
        //    $('#CountryCode').val(code);
            
        //});

    </script>

}