﻿@model ReiseBuro.Entities.Models.Campaign
@using ReiseBuro.Web.Resources
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var country = ViewBag.Country;
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <h4>@Resource.eminmisin</h4>
                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>

                        <dd>
                            @if (Model.IsActive)
            {
                                <span>@Resource.evet</span>
                            }
                            else
                            {
                                <span>@Resource.hayir</span>
                            }
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BookingBegin)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BookingBegin)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BookingEnd)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BookingEnd)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CheckIn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CheckIn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CheckOut)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CheckOut)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CountryCode)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => country)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Bonus)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Bonus)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MinNight)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MinNight)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                           
                           <a href="@Url.Action("Index","Campaigns")" class="btn bg-teal">@Resource.kampanyalar</a>
                            <input type="submit" value="@Resource.sil" class="btn bg-deep-orange" /> 
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


