﻿@model ReiseBuro.Entities.Models.Campaign

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <h2>Kampanyayı Düzenle</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row clearfix">
                        <div class="col-md-4">
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.IsActive)

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CampaignCode, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.CampaignCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CampaignCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.BookingBegin, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.BookingBegin, new { htmlAttributes = new { @class = "datepicker form-control", @Value=Model.BookingBegin.ToString("dd.MM.yyyy") } })
                                    @Html.ValidationMessageFor(model => model.BookingBegin, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.BookingEnd, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.BookingEnd, new { htmlAttributes = new { @class = "datepicker form-control", @Value = Model.BookingEnd.ToString("dd.MM.yyyy") } })
                                    @Html.ValidationMessageFor(model => model.BookingEnd, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CheckIn, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.CheckIn, new { htmlAttributes = new { @class = "datepicker form-control", @Value = Model.CheckIn.ToString("dd.MM.yyyy") } })
                                    @Html.ValidationMessageFor(model => model.CheckIn, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CheckOut, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.CheckOut, new { htmlAttributes = new { @class = "datepicker form-control", @Value = Model.CheckOut.ToString("dd.MM.yyyy") } })
                                    @Html.ValidationMessageFor(model => model.CheckOut, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.CountryCode, new SelectList(ViewBag.CountryList, "Value", "Text"), new { @class = "form-control" })                                 
                                    @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Bonus, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Bonus, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Bonus, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.MinNight, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.MinNight, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MinNight, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group form-float">
                                    <input type="checkbox" class="filled-in" id="DisplayIsActive" name="DisplayIsActive" />
                                    <label for="DisplayIsActive" class="form-label">Aktif mi</label>
                                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                   <a class="btn bg-deep-purple" href="@Url.Action("Index","Campaigns")">KAMPANYALAR</a>
                                    <button type="submit" class="btn bg-teal">KAYDET</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div>
                  
                </div>


            </div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/assets/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script>

        $(document).ready(function () {

            if ($('#IsActive').val()){
                $('#DisplayIsActive').prop('checked', true);
            }
            else {
                $('#DisplayIsActive').prop('checked', false);
            }
        });

        $('#DisplayIsActive').change(function () {
            var confirm = $('#DisplayIsActive').prop('checked');
            $('#IsActive').val(confirm);
        });
    </script>

}
