﻿@model ReiseBuro.Entities.Models.UserAction
@using ReiseBuro.Web.Resources

@{
    var user = (ReiseBuro.Entities.Models.User)ViewBag.user;
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <h2>
        @Resource.hareketolustur
    </h2>
</div>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row clearfix">
                        <div class="col-md-4">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group form-float">
                                @*<label for="UserId" class="form-label">@Resource.kullanicisecin</label>*@
                                <div class="form-line">
                                    <input type="text" class="form-control" value="@user.UserName" readonly="readonly" />                                  
                                    <input type="hidden" name="UserId" id="UserId" value="@user.Id" />
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <label for="BalanceDue" class="form-label">@Resource.odenenbonus</label>
                                <div class="form-line">
                                    @Html.EditorFor(model => model.BalanceDue, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BalanceDue, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="form-group form-float">
                                    <label for="BalanceDue" class="form-label">Dictionary</label>
                                    <div class="form-line">
                                        @Html.DropDownListFor(model => model.ActionState,new SelectList(ViewBag.Dictionary,"Value","Key"),Resource.seciniz, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.BalanceDue, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                            <div class="form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.ActionLink(Resource.listeyedon, "Index", new { }, new { @class = "btn bg-grey" })
                                    <input type="submit" value="@Resource.olustur" class="btn bg-teal" />
                                </div>
                            </div>
                        </div>
                    </div>
                }



            </div>
        </div>
    </div>
</div>
