﻿@model ReiseBuro.Entities.Models.UserAction
@using ReiseBuro.Web.Resources
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = ViewBag.Username;
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <h4>@Resource.eminmisin</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => username)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ActionDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ActionDate)
                    </dd>                 

                    <dt>
                        @Html.DisplayNameFor(model => model.BalanceDue)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BalanceDue)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BalanceReceivable)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BalanceReceivable)
                    </dd>                 

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="@Resource.sil" class="btn btn-default" /> |
                        @Html.ActionLink(Resource.iptal, "UserAction", new { }, new { @class="btn-sm bg-teal" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>