﻿@model ReiseBuro.Entities.Models.UserAction
@using ReiseBuro.Web.Resources
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <h2>
        Detay
    </h2>
</div>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.ActionDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ActionDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ResId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ResId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BalanceDue)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BalanceDue)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BalanceReceivable)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BalanceReceivable)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ActionState)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ActionState)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DeservedAmount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DeservedAmount)
                        </dd>
                    </dl>
                </div>
                <p>
                    @Html.ActionLink(Resource.listeyedon, "Index")
                </p>

            </div>
        </div>
    </div>
</div>

