﻿@model ReiseBuro.Entities.Models.UserAction
@using ReiseBuro.Web.Resources

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="block-header">
    <h2>
        Düzenle
    </h2>
</div>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row clearfix">
                        <div class="col-md-4">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group form-float">
                                @Html.DisplayNameFor(model => model.UserId)
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.UserId,new SelectList(ViewBag.Users,"Value","Text"), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.DisplayNameFor(model => model.ActionDate)
                                <div class="form-line">
                                    @Html.EditorFor(model => model.ActionDate, new { htmlAttributes = new { @class = "form-control", @value=Model.ActionDate.ToString("dd.MM.yyyy"), @readonly="readonly" } })
                                    @Html.ValidationMessageFor(model => model.ActionDate, "", new { @class = "text-danger" })
                                </div>
                            </div>                         

                            <div class="form-group form-float">
                                @Html.DisplayNameFor(model => model.BalanceDue)
                                <div class="form-line">
                                    @Html.EditorFor(model => model.BalanceDue, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BalanceDue, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.DisplayNameFor(model => model.BalanceReceivable)
                                <div class="form-line">
                                    @Html.EditorFor(model => model.BalanceReceivable, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BalanceReceivable, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.DisplayNameFor(model => model.ActionState)
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.ActionState,new SelectList(ViewBag.Actions,"Value","Text"), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ActionState, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group form-float">
                                @Html.DisplayNameFor(model => model.ActionKeyword)
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.ActionKeyword, new SelectList(ViewBag.Dictionary, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ActionKeyword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group form-float">
                                @Html.DisplayNameFor(model => model.DeservedAmount)
                                <div class="form-line">
                                    @Html.EditorFor(model => model.DeservedAmount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DeservedAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.ActionLink(Resource.listeyedon, "Index", new { }, new { @class="btn btn-grey"})
                                    <input type="submit" value="@Resource.kaydet" class="btn bg-teal" />
                                </div>
                            </div>
                        </div>
                    </div>
                }            


            </div>
        </div>
    </div>
</div>
