﻿@model IEnumerable<ReiseBuro.Entities.Models.UserAction>
@using ReiseBuro.Web.Resources

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var states = (IEnumerable<ReiseBuro.Web.Models.ResStatusViewModel>)ViewBag.states;
    var users = (IEnumerable<ReiseBuro.Entities.Models.User>)ViewBag.user;
    var res = (IEnumerable<ReiseBuro.Entities.Models.Reservation>)ViewBag.Res;
}

<div class="block-header">
    <h2>
        @Resource.hareketler
    </h2>
</div>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h5>
                    @Resource.hareketlercaption
                </h5>
                <h5 class="error-message">@TempData["error"] </h5>
                <h5 class="text-info">@TempData["message"]</h5>
            </div>
            <div class="body">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.ActionDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserId)
                                </th>
                                <th>
                                    @ReiseBuro.Entities.Resources.Resource.checkout
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ResId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BalanceDue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BalanceReceivable)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ActionState)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeservedAmount)
                                </th>
                                <th>
                                    @Resource.islemler
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ActionDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => users.FirstOrDefault(f => f.Id == item.UserId).UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => res.FirstOrDefault(f => f.Id == item.ResId).CheckOut)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => res.FirstOrDefault(i => i.Id == item.ResId).VoucherNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BalanceDue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BalanceReceivable)
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.ActionState))
                                        {
                                            if (string.IsNullOrEmpty(states.FirstOrDefault(f => f.ConfirmCode == item.ActionState).DisplayName))
                                            {
                                                <span>@Html.DisplayFor(modelItem => states.FirstOrDefault(f => f.ConfirmCode == item.ActionState).ConfirmState)</span>

                                            }
                                            else
                                            {
                                                <span>@Html.DisplayFor(modelItem => states.FirstOrDefault(f => f.ConfirmCode == item.ActionState).DisplayName)</span>
                                            }

                                        }

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeservedAmount)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("TempConfirm","UserActions", new { id=item.Id })" class="btn bg-grey btn-sm">@Resource.goruldu</a>
                                        <a href="@Url.Action("Inside","UserActions", new { id=item.Id })" class="btn bg-deep-purple btn-sm">@Resource.icerde</a>
                                        <a href="@Url.Action("Confirm","UserActions", new { id=item.Id })" class="btn bg-teal btn-sm">@Resource.onay</a>
                                        <a href="@Url.Action("Cancel","UserActions", new { id=item.Id })" class="btn bg-deep-orange btn-sm">@Resource.iptal</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <br />

            </div>
        </div>

    </div>
</div>


@section Styles{
    <!-- JQuery DataTable Css -->
    <link href="~/assets/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

}

@section Scripts{
    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/assets/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="~/assets/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <!-- Custom Js -->
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>


}
