﻿@using ReiseBuro.Web.Helper;
@using ReiseBuro.Web.Resources
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>RMOS YAZILIM | ReiseBuro</title>
    <!-- Favicon-->
    @*<link rel="icon" href="../../favicon.ico" type="image/x-icon">*@
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/assets/plugins/node-waves/waves.min.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/assets/plugins/animate-css/animate.min.css" rel="stylesheet" />
    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- Wait Me Css -->
    <link href="~/assets/plugins/waitme/waitMe.css" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="~/assets/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/assets/css/style.min.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/assets/css/themes/all-themes.min.css" rel="stylesheet" />
   
    @RenderSection("Styles", false);

    <style>
        .user-info {
            background: url("/assets/images/user-img-background.jpg") no-repeat no-repeat !important;
        }

        .error-message {
            color: red;
        }

        .btn:not(.btn-link):not(.btn-circle) span {
            top: 0px;
            margin-left: 10px;
        }

        .language-dropdown {
            margin-top: 20px;
        }

       dt {
            width:15% !important;
            margin-right: 10px !important;
        }
    </style>
</head>
@{
    var isAdmin = UserInfoHelper.UserRole() == "Administrator" ? true : false;
    var culture = ReiseBuro.Web.Helper.SelectListItemHelper.CultureKeyValue();
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
}
<body class="theme-teal">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>@Resource.lutfenbekleyin...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="Arayın...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="#">ReiseBuro</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    @Html.DropDownList("SelectLanguage", new SelectList(culture, "Value", "Text"), new { @class = "form-control language-dropdown" })                   
               
                 </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
      
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/assets/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@UserInfoHelper.UserFullname()</div>
                    <div class="email">@UserInfoHelper.UserMailAddress()</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="@Url.Action("Profil","Account")"><i class="material-icons">person</i>@Resource.profilim</a></li>
                            <li role="seperator" class="divider"></li>
                            @if (isAdmin)
                            {
                                <li><a href="@Url.Action("Index","Manage")"><i class="material-icons">group</i>@Resource.kullanicionayla</a></li>
                            }
                            <li>
                                <a href="@Url.Action("LogOut","Account")"><i class="material-icons">input</i>@Resource.cikisyap</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">


                    @if (isAdmin)
                    {
                        <li class="active" style="display:block;"></li>
                        <li class="">
                            <a href="@Url.Action("Index","Reservations")">
                                <i class="material-icons">assignment</i>
                                <span>@Resource.rezervasyonlar</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","UserActions")">
                                <i class="material-icons">favorite</i>
                                <span>@Resource.hareketler</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Summary","UserActions")">
                                <i class="material-icons">favorite</i>
                                <span>@Resource.ozethareketler</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle">
                                <i class="material-icons">layers</i>
                                <span>@Resource.parametreler</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="@Url.Action("Mail","Parameters")">@Resource.mailparametreleri</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Country","Parameters")">@Resource.ulkeler</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Currency","Parameters")">@Resource.kurlar</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ResState","Parameters")">@Resource.rezdurumlari</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Languages")">@Resource.dilparametreleri</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Images","Home")">Kullanıcı Kılavuz Fotoğrafları</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="@Url.Action("Index","Dictionaries")">
                                <i class="material-icons">text_fields</i>
                                <span>@Resource.sozlukparametreleri</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Campaigns")">
                                <i class="material-icons">shopping_cart</i>
                                <span>@Resource.kampanyalar</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="active" style="display:block;"></li>
                        <li>
                            <a href="@Url.Action("Create","Reservations")">
                                <i class="material-icons">home</i>
                                <span>@Resource.rezolustur</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="@Url.Action("Index","Reservations")">
                                <i class="material-icons">assignment</i>
                                <span>@Resource.rezervasyonlar</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Actions","UserActions")">
                                <i class="material-icons">favorite</i>
                                <span>@Resource.hareketler</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Campaigns")">
                                <i class="material-icons">shopping_cart</i>
                                <span>@Resource.kampanyalar</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact","Home")">
                                <i class="material-icons">phone</i>
                                <span>@Resource.iletisim</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Info","Home")">
                                <i class="material-icons">help_outline</i>
                                <span>@Resource.nasilKullanilacak</span>
                            </a>
                        </li>
                    }

                

                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2017 <a href="javascript:void(0);"></a>
                </div>

            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->

    </section>
    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
 <input type="hidden" id="CurrentLanguage" name="CurrentLanguage" value="@currentCulture" />
    <!-- Jquery Core Js -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Select Plugin Js -->
    <script src="~/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/assets/plugins/bootstrap-select/i18n/defaults-tr_TR.min.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/assets/plugins/node-waves/waves.min.js"></script>
    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>
    <!-- Moment Plugin Js -->
    @*<script src="~/assets/plugins/momentjs/moment.js"></script>*@

    <!-- Custom Js -->
    @*<script src="~/assets/js/admin.js"></script>*@
    <script src="~/assets/js/pages/forms/basic-form-elements.js"></script>

    <!-- Demo Js -->
    <script src="~/assets/js/demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>

    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script src="~/assets/js/admin.js"></script>
    <script>

        $('#SelectLanguage').val($('#CurrentLanguage').val());

        $(document).ready(function () {

            $('.language-dropdown').on('change', function () {
                var data = this.selectedOptions[0].value;
                $.post("/Home/SelectLanguage", { data: data })
                          .done(function () {
                              location.reload();
                              //$('.language-dropdown select').val(data);
                          })
                    .fail(function () {
                        alert("error");
                    });
            });
        });

    </script>
    @RenderSection("Scripts", false);
</body>
</html>