﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error!</h1>
        <h2>İşlem yürütülürken bir hata oluştu.</h2>
    </hgroup>
</body>
</html>
