﻿@model ReiseBuro.Entities.Models.Dictionary
@using ReiseBuro.Web.Resources

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <h2>@Resource.eminmisin</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.D_Key)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.D_Key)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.D_Value)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.D_Value)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.D_Culture)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.D_Culture)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="@Resource.sil" class="btn bg-deep-orange" /> |
                        @Html.ActionLink(Resource.listeyedon, "Index", new { },new { @class="btn bg-teal" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>

   
