﻿@model ReiseBuro.Entities.Models.User
@using ReiseBuro.Web.Resources
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="block-header">
    <h2>@Resource.duzenle</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <h4 class="error-message">@TempData["error"]</h4>
            <div class="body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row clearfix">

                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model=>model.IsActive)
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Name , htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">                                
                                    @Html.DropDownListFor(model => model.Role,new SelectList(ViewBag.roles,"Value","Text"), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
         
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.CountryCode,new SelectList(ViewBag.countries,"Value","Text"), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group  form-float">
                                @Html.LabelFor(model => model.RegistryDate, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.RegistryDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.RegistryDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.ConfirmDate, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.ConfirmDate, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Gsm, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Gsm, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Gsm, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-md-3">
                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.BoundUser, htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.BoundUser,new SelectList(ViewBag.users,"Value","Text"),"Seçiniz", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BoundUser, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group form-float">
                                <input type="checkbox" class="filled-in" name="DisplayActive" id="DisplayActive" />
                                <label for="DisplayActive">@Resource.aktifmi</label>
                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">

                                <div class="col-md-offset-2 col-md-10">
                                    <a href="@Url.Action("Index","Manage")" class="btn btn-group-lg bg-teal">
                                        <i class="material-icons">list</i>
                                        <span>@Resource.kullanicilar</span>
                                    
                                    </a>
                                    <button type="submit" class="btn btn-group-lg bg-deep-orange">
                                        <i class="material-icons">save</i>
                                    <span>@Resource.kaydet</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                   


                }

            </div>
        </div>
    </div>
</div>
@section Scripts{


    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/assets/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script>

        if ($('#IsActive').val() === true || $('#IsActive').val() === "True") {
            $('#DisplayActive').prop('checked', true);

        }
        else {
            $('#DisplayActive').prop('checked', false);
        }

        $(document).ready(function () {

          
        });

        $('#DisplayActive').change(function () {

            var confirm = $('#DisplayActive').prop('checked');
            $('#IsActive').val(confirm);
        });
    </script>


}