﻿@model IEnumerable<ReiseBuro.Entities.Models.User>
@using ReiseBuro.Web.Resources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var countries = (IEnumerable<ReiseBuro.Entities.Models.Country>)ViewBag.country;
    var index = 1;
    var boundUser = (IEnumerable<ReiseBuro.Entities.Models.User>)ViewBag.bounduser;
}


<div class="block-header">
    <h2>
        @Resource.kullanicilar
    </h2>
</div>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>
                                @Resource.kullanici
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model=>model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Surname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Password)
                                </th>
                                <th>
                                   @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th>
                                   @Html.DisplayNameFor(model => model.Role)
                                </th>
                                <th>
                                   @Html.DisplayNameFor(model => model.CountryCode)
                                </th>
                                <th>
                                   @Html.DisplayNameFor(model => model.City)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RegistryDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ConfirmDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gsm)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BoundUser)
                                </th>
                                <th>@Resource.islemler</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Surname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Password)
                                    </td>
                                    <td>
                                        @if (item.IsActive == true)
                                        {
                                            <p>@Resource.evet</p>
                                        }
                                        else
                                        {
                                            <p>@Resource.hayir</p>
                                        }

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => countries.Where(f => f.Code == item.CountryCode).FirstOrDefault().Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RegistryDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ConfirmDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gsm)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => boundUser.FirstOrDefault(f=>f.Id==item.BoundUser).UserName)
                                    </td>
                                    <td>
                                        @Html.ActionLink(Resource.duzenle, "Edit", new { id = item.Id }, new { @class = "btn btn-sm bg-teal" })

                                        <a class="btn btn-sm bg-deep-orange" href="javascript:void()" onclick="Delete(@item.Id)" id="deleteButton">
                                            @Resource.sil
                                        </a>
                                        <a class="btn bg-deep-purple" href="@Url.Action("Contact","Home",new { id=item.Id})" id="deleteButton">
                                            @Resource.mailgonder
                                        </a>
                                    </td>
                                </tr>
                              
                            }

                        </tbody>
                    </table>
                </div>


            </div>
        </div>


    </div>
</div>


<!-- #END# Basic Examples -->

@section Styles{

    <!-- JQuery DataTable Css -->
    <link href="~/assets/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet">

}

@section Scripts{
    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="~/assets/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/assets/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script>


        function Delete(id) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("Delete","Manage")",
                data: { id : id },
                success: function (data) {
                    if (data.error == true) {
                        alert("Kayıt Silinemedi. " + message);
                    }
                    else {
                        alert("İşlem Başarılı");
                    }
                   location.reload(); 
                },
                error: function (data) {
                    alert("Hatalı bir durum oluştu. " + data.error);
                }
            });
        }


        function SendMail(id){
            $.ajax({
                type:'POST',
                url:'@Url.Action("Contact","Home")'
            })
        }

        $(document).ready(function () {
          
            var table = $('.dataTable').DataTable();

            // Sort by columns 1 and 2 and redraw
            table
                .order([0, 'desc'])
                .draw();
        });

    
    </script>

}
