﻿@model ReiseBuro.Entities.Models.UserAction

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserAction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BalanceDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BalanceDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BalanceReceivable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BalanceReceivable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionState)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
