﻿@model ReiseBuro.Entities.Models.Country

@{
    ViewBag.Title = "CreateCountry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="block-header">
    <h2>Ülke Oluştur</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row clearfix">
                        <div class="col-md-4">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group form-float">                              
                                @Html.LabelFor(model => model.Name,"Ülke Adı", htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.Code,"Ülke Kodu", htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.CurrencyId,"Kur", htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.CurrencyId, new SelectList(ViewBag.currency,"Value", "Text"), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CurrencyId, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group form-float">
                                @Html.LabelFor(model => model.LanguageId,"Dil", htmlAttributes: new { @class = "form-label" })
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.LanguageId, new SelectList(ViewBag.language, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LanguageId, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-actions">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.ActionLink("Listeye Dön", "Country", new { }, new { @class = "btn bg-teal" })
                                    <input type="submit" value="OLUŞTUR" class="btn bg-deep-purple" />
                                </div>
                            </div>
                            <h4 class="error-message">@TempData["error"]</h4>
                        </div>
                    </div>
                }

             

            </div>
        </div>
    </div>
</div>



@section Styles{

}

@section Scripts{
    <!-- Autosize Plugin Js -->
    <script src="~/assets/plugins/autosize/autosize.js"></script>
    <!-- Moment Plugin Js -->
    <script src="~/assets/plugins/momentjs/moment.js"></script>
    <!-- Bootstrap Material Datetime Picker Plugin Js -->
    <script src="~/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script>


    </script>

}
