﻿@model ReiseBuro.Entities.Models.Currency

@{
    ViewBag.Title = "EditCurrency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <h2>Mail Düzenle</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()

                <div class="row clearfix">
                    <div class="col-md-4">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group form-float">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
                            <div class="form-line">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group form-float">
                            @Html.LabelFor(model => model.Xml, htmlAttributes: new { @class = "form-label" })
                            <div class="form-line">
                                @Html.EditorFor(model => model.Xml, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Xml, "", new { @class = "text-danger" })
                            </div>
                        </div>

                       
                        <div class="form-actions">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.ActionLink("Listeye Dön", "Currency", new { }, new { @class = "btn btn-deep-purple" })
                                <input type="submit" value="KAYDET" class="btn bg-teal" />
                            </div>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>

