﻿@model ReiseBuro.Entities.Models.ResState
@using ReiseBuro.Web.Resources
@{
    ViewBag.Title = "EditResState";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="block-header">
    <h2>Düzenle</h2>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row clearfix">
                        <div class="col-md-4">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group form-float">
                              <label for="ConfirmState" class="form-label">Durumu</label>
                                <div class="form-line">
                                    @Html.EditorFor(model => model.ConfirmState, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmState, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                               <label for="ConfirmCode" class="form-label">Kodu</label>
                                <div class="form-line">
                                    @Html.EditorFor(model => model.ConfirmCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group form-float">
                                <label for="ActionKeyword" class="form-label">@ReiseBuro.Entities.Resources.Resource.sozluktekikarsilik</label>
                                <div class="form-line">
                                    @Html.DropDownListFor(model => model.ActionKeyword,new SelectList(ViewBag.Dictionary,"Value","Text"),Resource.seciniz, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ActionKeyword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.ActionLink("Listeye Dön", "ResState", new { }, new { @class = "btn bg-teal" })
                                    <input type="submit" value="Kaydet" class="btn bg-deep-purple" />
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div>
                </div>

            </div>
        </div>
    </div>
</div>

