﻿@model IEnumerable<ReiseBuro.Entities.Models.ResState>

@{
    ViewBag.Title = "ResState";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <h2>
        MAİL PARAMETRELERİ
    </h2>
</div>
<!-- Basic Examples -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">

            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ConfirmState)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ConfirmCode)
                                </th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ConfirmState)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ConfirmCode)
                                    </td>
                                    <td>
                                        @Html.ActionLink("DÜZENLE", "EditResState", new { id = item.Id }, new { @class = "btn btn-sm bg-deep-purple" })                                      
                                        @Html.ActionLink("SİL", "DeleteResState", new { id = item.Id }, new { @class = "btn btn-sm bg-deep-orange" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="form-actions">
                    @Html.ActionLink("Yeni Kayıt Oluştur", "CreateResState", new { }, new { @class = "createParam btn bg-teal" })
                </div>
            </div>
        </div>
    </div>
</div>



@section Styles{

    <style>
        .createParam {
            margin: 15px 0 10px 0;
        }

        .btn-sm {
            padding: 2px 20px !important;
            margin: 5px 0 0 0;
        }
    </style>

}

@section Scripts{

    <script src="~/assets/plugins/autosize/autosize.js"></script>
}
